@import './variables.scss';

@mixin material-shadow($depth) {
  @if $depth == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  @if $depth == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  @if $depth == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  @if $depth == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  @if $depth == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

@mixin btn($bg, $color) {
  border-radius: 3px;
  background-color: $bg;
  color: $color;
  padding: 0.7rem 1.2rem;
  border: none;

  transition: box-shadow 0.2s ease-in, color 0.2s ease-in, background 0.2s ease-in;
  cursor: pointer;

  &:active,
  &:focus {
    @include material-shadow(2);
  }

  &:disabled {
    background-color: $c-bg-btn-disabled;
    color: $c-text-btn-disabled;
    cursor: default;
  }

  @include material-shadow(1);
}

@mixin link() {
  display: inline;
  background: none;
  border: none;
  box-shadow: none;

  color: $c-accent;
  cursor: pointer;

  padding: 0;

  &:hover {
    color: lighten($c-accent, 10%);
  }
}