$c-text-primary: #555555;
$c-text-secondary: #AAAAAA;
$c-text-unimportant: #CCCCCC;
$c-text-btn-disabled: #BFBFBF;
$c-bg-body: #fcfbfa;
$c-bg-light: #EAEAEA;
$c-bg-btn-disabled: #E0E0E0;
$c-accent: #EB4A42;
$c-error: #eb180d;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$screen-sm: 640px;