@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.root {
  padding: 1rem 1.5rem;
}

.header {

}

.clear {
  @include link();
}

.error {
  color: $c-error;
}

.notification {
  color: $c-text-unimportant;
}

.spinner {
  margin: 2rem auto 0;
  width: 5rem;
}

@media (min-width: $screen-sm) {
  .root {
    padding: 0;
  }

  .heading {
    display: inline;
    margin-right: 1rem;
  }
}